<%= form_for(@article) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.text_field :title, placeholder: "title", class: "form-control" %>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "content...",
                    class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Create Article", class: "btn btn-primary" %>
  </div>
<% end %>
